In [4]:
#To find factorial of a number
#Recursive functions!!!
#Conditionals
x= input("Number: ") 

#input function only provides string output. Thus we need to change it into int type.. 
#also we may write it as x= int(input()).

x= int(x)
def factorial(x):
    #
    if x < 0:
        return "Not allowed"
    elif x == 0 | x == 1:
        return 1
    else:
        return x * factorial(x-1)
print(factorial(x))

Number: 5
120

In [6]:
#loops
#start, step and stop!!!
for i in range (0, 5, 2): #start, stop, step
    print(i)

0
2
4

In [34]:
#while loop
#while loop needs increment to be defined within the function as follows
def CD(n):
    while int (n) > 0 :       #MUST TERMINATION CONDITION and int must!!! Check for error messages in spyder.
        print(n)
        n = n-1
    print("Booom")

In [35]:
CD(5)

5
4
3
2
1
Booom

In [38]:
#Mod function is, the remainder is output
7%4 #when 7/4 is done, 1 is the coefficient and 3 is the remainder thus 7 mod 4 = 3

3

In [43]:
4%2 #when 4/2 is done, 2 is the coefficient and 0 is the remainder thus 4 mod 2 = 0

0

In [42]:
8%6

2

In [44]:
1 % 4 
#1/4 when 1 is divided by 4, 1 remains and with decimal we need to add 0 right of 1, thus since remainder is 1, the answer is 1. 
#understand it better by long division representation. for more watch session 5, 25.00

1

In [ ]:
#to print 1 to 10 using while loop
n = 1
while True:
    print(n)
    if n==10:
        break
    n = n+1

In [ ]:
#Strings are immutable, we can make a new string and make changes within that string. However, we may create a completely new stringg and make a new object itself.

In [56]:
#to search for strings
name = 'Ashwini'
if 'h' in name:
    print('True')
else:
    print('False')

True

In [57]:
name.upper() #to get all capital ASHWINI
name.capitalize() #to get first letter capitalized.

'Ashwini'

In [ ]:
#excersise, to check answers see from 33.57 of Session4

In [25]:
# List-[]: to convert something to list, use list() function
      #to split a string/line of words and put it in list, string.split(), if the split must be done according to a comma then string.split(',')
#tuples- ()
#dictionary- {}
s = 'I am Ashwini K S'
t= s.split()
t

['I', 'am', 'Ashwini', 'K', 'S']

In [31]:
ss= 'Hi, I am Annie'
tt= ss.split(' ')
print(tt)
space = ' '
sz= space.join(tt)
print(sz)

['Hi,', 'I', 'am', 'Annie']
Hi, I am Annie

In [22]:
fruits = ['banana', 'apple', 'orange', 'kiwi'] 
print(fruits)
#to traverse through the list or to print all the elements in the list
for i in fruits:
    print(i)
#to deal with each element within the lists
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
print(numbers)
#to add two lists and store it in first one, we may use l1= list.extend(l2)

['banana', 'apple', 'orange', 'kiwi']
banana
apple
orange
kiwi
[8, 12, 20, 28]

In [23]:
#can also write it as but it does shoe some errors sometimes
for i in numbers:
    i = i * 2
numbers

[8, 12, 20, 28]

### Dictionaries!! {}

In [6]:
#Unordered, unique, Mutable. 
#Stored in hashtables- Directly accessible.
my_dict = {"Ash" : "Ashwija",
          "Annie" : "Ashwini",
          "Malz" : "Amma",
          "Paa" : "Appa"}
#importance is that it doesn't need an index to call the values here. I just have to call its key. 
print(my_dict["Ash"])
#to check the items in dictionary
"Annie" in my_dict

Ashwija

True

In [8]:
#to add new key and value
my_dict["Miu"] = "Miu the cat"
#to delete just use del my_dict["key"]

{'Ash': 'Ashwija',
 'Annie': 'Ashwini',
 'Malz': 'Amma',
 'Sathya': 'Appa',
 'Miu': 'Miu the cat'}

In [9]:
#If a column needed, we assign a key (heading) and the values in the column to the key.
Data = {"Name" : ["Ash", "Annie", "Malz", "Paa"],
       "Age" : [14, 24, 44, 56]}
print(Data)

{'Name': ['Ash', 'Annie', 'Malz', 'Paa'], 'Age': [14, 24, 44, 56]}

In [14]:
#to find key using values: 1) One key might have many values... we may define a function
def reverselookup(dictionary, value):
    for key in dictionary:
        if dictionary[key] == value:
            return key

In [15]:
r = {1 : "ek",
    2 : "do",
    3 : "theen"}
reverselookup(r, "do")

2

### Tuples:

In [16]:
#immutable
t = ('a', 'b', 'c', 'd')
#now to add an element to tuple, we have to create a new tuple and then add it, exactly like the string method.
#we may len, min, max but not append!!! However, we may import copy and append that. We may switch it too.
#we may also split and combine in tuples: i.e
email = 'python@gmail.com'
username, domain = email.split('@')
username

'python'

In [17]:
domain

'gmail.com'